// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';


/* tailwind */
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";




/**
* My custom css 
*/
input:not(.border-red-300):focus, textarea:not(.border-red-300):focus, select:not(.border-red-300):focus {
	@apply .shadow-outline .border-primary;
}

.close-modal {
	display: none;
}

.card {
	@apply .bg-white .rounded-lg .shadow-xl .p-4 .border .border-gray-200;
}

.button-primary {
	@apply .bg-blue-500 .text-white .text-sm .font-bold .px-5 .py-2 .rounded-full .cursor-pointer .shadow-lg;
}

.button-primary:hover {
	@apply .bg-blue-700;
}

.button-secondary {
	@apply .bg-gray-700 .text-white .text-sm .font-bold .px-3 .py-2 .rounded-full .cursor-pointer .shadow-lg;
}

.button-secondary:hover {
	@apply .bg-gray-600;
}

.button-outline-primary {
	@apply .border .border-blue-400 .text-blue-500 .font-bold .py-2 .px-3 .rounded-full .cursor-pointer .text-xs;
}

.button-outline-secondary {
	@apply .border .border-gray-500 .text-gray-600 .font-bold .py-2 .px-3 .rounded-full .cursor-pointer .text-xs;
}

.button-outline-primary:hover {
	@apply .border-blue-500;
}

.button-outline-secondary:hover {
	@apply .border-gray-600;
}

.button-outline-primary,
.button-outline-secondary {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}


// login page
.login-register-parent {
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	-o-perspective: 600px;
	perspective: 600px;
}

.login-register {
	height: 567px;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.login-register > div {
	width: 100%;
	height: 100%;
	padding: 50px 0px;
	position: absolute;
	top: 0;
	right: 0;
}

.login-register .register-card {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

.login-register .login-card {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

// left side section
.left-side-ul {
	@apply .mt-8;

	li {
		@apply .text-gray-600 .text-lg;

		small {
			@apply .text-gray-500
		}
	}
}



