// tailwind
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
// @import 'variables';

// // Bootstrap
// @import '~bootstrap/scss/bootstrap';

// body {
// 	background: #333;
// }

*:hover {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.close-modal {
	display: none;
}

.card {
	@apply .bg-white .rounded-lg .shadow-xl .p-4;
}

.button-primary {
	@apply .bg-blue-500 .text-white .px-4 .py-2 .rounded-lg .text-xs .cursor-pointer .shadow-lg;
}