// tailwind
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
// @import 'variables';

// // Bootstrap
// @import '~bootstrap/scss/bootstrap';

// body {
// 	background: #333;
// }

* {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.close-modal {
	display: none;
}

.card {
	@apply .bg-white .rounded-lg .shadow-xl .p-4 .border .border-gray-200;
}

.button-primary {
	@apply .text-white .px-4 .py-2 .rounded-lg .text-sm .cursor-pointer .shadow-lg .bg-primary;
}

.button-outline-primary {
	@apply .border .px-4 .rounded-lg .text-sm .shadow .text-primary .border-primary;
}
.button-outline-secondary {
	@apply .border .px-4 .rounded-lg .text-sm .shadow .border-gray-600 .text-gray-600;
}
.button-outline-primary:hover,
.button-outline-secondary:hover {
	@apply .shadow-lg;
}

.post {
	@apply .bg-white .rounded-lg .shadow-xl .p-4 .m-auto .mb-4 .border .border-gray-200;
}

.button-outline-primary,
.button-outline-secondary 
.post {
	-webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}